/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

// **************************************** //
// ********** End of boilerplate ********** //
// **************************************** //


// Journal, Single Journal Posts, Archive, Find Us, Search, 404, Default new page
.blog .site-content,
.single-post .site-content,
.archive.date .site-content,
.archive.category .site-content,
.archive.tag .site-content,
.page-id-34 .site-content,
.search .site-content,
.error404 .site-content,
body:not(.home).page-template-default .site-content {
	@include center-block;
	width: 1120px;
	display: flex;
	#primary {
		width: 73%;
		padding-right: 5%;
		border-right: 1px solid $color__solid-border;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	#secondary {
		width: 27%;
		padding-left: 5%;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}
// Journal, Single Journal Posts, Single Products, 404
.blog .site-content,
.single-post .site-content,
.single-product .site-content,
.error404 .site-content {
	padding-top: 50px;
}
// Archive, Find Us, Search, Default new
.archive .site-content,
.page-id-34 .site-content,
.search .site-content,
body:not(.home).page-template-default .site-content {
	padding-top: 30px;	
}

// Journal posts: Title and entry-meta on image
.blog article .entry-header,
.archive.date .entry-header, 
.archive.category .entry-header,
.archive.tag .entry-header,
.single-post .entry-header
 {
	position: relative;	
	line-height: 0;
	a {
		color: #fff;
		&:hover {
			color: lighten($color__lightgrey-brand, 25%);
		}
	}
	img {
		width: 100%;
		height: auto;
	}
	h1, h2 {
		background-color: $color__green-brand;
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		padding: .75rem 1.5rem;
		margin-top: 3rem;
		max-width: 75%;
		font-size: 2rem;
		line-height: 1.25;
	}
	.entry-meta {
		background-color: $color__green-brand;
		color: #fff;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0.75rem 1.5rem;
		text-transform: uppercase;
		line-height: 1;
	}
}
// Journal posts: Entry meta and Read More
.blog .entry-content,
.archive .entry-content,
.search .entry-summary {
	a.read-entry {
		color: #000;
		font-size: 1rem;
		border: 1px solid #000;
		padding: .75rem 1.5rem;
		text-decoration: none;
		text-transform: uppercase;
		&:hover {
			color: white;
			background: $color__green-brand;
			border-color: $color__green-brand;
		}
	}
}
// Journal posts: space between articles
.blog article,
.archive.date article,
.archive.category article,
.archive.tag article {
	margin-bottom: 4rem;
}

// Single Journal page
.single-post article .entry-footer {
	text-transform: uppercase;
	font-family: 'Novecento';
	.cat-links {
		margin-right: 1.5rem;
	}
}

.social-media button {
	background: #fff;
	border: 1px solid #000;
	color: #000;
	text-transform: uppercase;
	border-radius: 0;
	padding: .75rem 1.5rem;
	.svg-inline--fa { // weird, not <i> class
		margin-right: 0.5rem;
	}
	&:hover {
		color: #fff;
		background: $color__green-brand;
		border-color: $color__green-brand;
	}
}
// Shop Archive grid
// Adventures Archive grid
.post-type-archive-product .site-content,
.tax-product-type .site-content,
.single-product .site-content,
.post-type-archive-adventures .site-content {
	@include center-block;
	width: 1120px;
}
.post-type-archive-product #primary,
.tax-product-type #primary,
.single-product #primary,
.post-type-archive-adventures #primary {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.post-type-archive-product .page-header,
.tax-product-type .page-header,
.post-type-archive-adventures .page-header {
	text-align: center;
    border-bottom: 1px dashed $color__dashed-border;
    margin-bottom: 3rem;

}
.post-type-archive-product .page-header,
.tax-product-type .page-header {
	ul {
		padding: 0;
		margin: 0;
		margin-bottom: 1rem;
		li {
		  list-style-type: none;
		  display: inline-block;
		  font-size: 1.2rem;
		  text-transform: uppercase;
		  margin: 0 1.5rem;
		}
	}
	.tax-description {
		margin: 2rem auto 3rem;
	}
}

.shop-grid-items,
.adventures-grid-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.shop-grid-items article {
	border: 1px solid $color__solid-border;
	flex: 0 1 23%;
	max-width: 23%;
	margin-bottom: 1.5rem;
	.thumbnail {
		height: 250px;
		overflow: hidden;
		position: relative;
		.wp-post-image {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-52%);
			max-height: 250px;
			max-width: none;
			width: auto;	
		}
	}
	.item-brief {
		text-align: center;
		padding: .75rem 1rem;
		width: 100%;
		display: flex;	/*https://stackoverflow.com/questions/39438026/fiill-the-space-between-two-text-elements-with-dots*/
		align-items: baseline;
		p {
			margin: 0;
			padding: 0;
		}
		span {
			flex: 1;
			margin: 0 0.2rem;
			border-bottom: 1.75px dotted #333;       
		}
	}
}

// Find Us, Search
.page-id-34 .entry-header h1,
.search .page-header h1,
.archive .page-header h1 {
	font-size: 2.5rem;
}
.page-id-34 .entry-content h2 {
	font-size: 1.8rem;
}
.search .entry-header h2 {
	font-size: 2rem;
}

// Search and Archive
.search .page-header,
.archive.date .page-header,
.archive.category .page-header,
.archive.tag .page-header  {
    border-bottom: 1px solid $color__solid-border;
    margin-bottom: 3rem;
}

// Error 404
.error404 .site-content fieldset {
	border: none;
	padding: 0;
	padding-bottom: 0.75rem;
	margin: 0;
	.search-toggle {
		display: none;
	}
	.search-field {
		text-transform: none;
		color: #666;
		background-color: #f4f4f4;
		font-family: 'Merriweather';
		padding: 0.3rem;
	}
}
.error404 {
	h1 {
		font-size: 2.4rem;
	}
	.widget ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	font-family: 'Merriweather';
	}
	.widget p {
		margin-bottom: 0.5rem;
	}
}