/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}





// START OF MY CSS **********************************************************
// Footer
#colophon {
	background: url(../../images/dark-wood@2x.png);
	background-size: 512px 512px;
	a { 
		color: #fff;
	}
	a:hover {
		text-decoration: underline;
		color: #fff;
	}
	p {
		color: #fff;
		margin-bottom: 1rem;
	}
	.footer-blocks {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 1120px;
		h3 {
			color: $color__orange-brand;
		    text-transform: uppercase;
		}
		.svg-inline--fa { // weird, not <i> class
			margin-right: 0.5rem;
		}
		.block1, .block2 {
			width: 25%;
			margin: 3.5rem 0;
			.day-of-week {
				font-weight: bold;
			}
		}
		.block3 {
			width: 50%;
			text-align: right;
			margin: 3.5rem 0;
			.text-logo {
				margin-top: 1rem;
			}
			img {
				width: 50%;
			}
		}
	}
	.site-info {
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		padding-bottom: 1rem;
	}
}
// Front Page
.home-banner {
	text-align: center;
	background: $color__background-gradient,
				url(../../images/home-hero.jpg);
	background-size: cover,cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.shop-feed,
.journal-feed,
.adventure-feed {
	margin-left: auto;
	margin-right: auto;
	width: 1120px;
	margin-bottom: 3.5rem;
	h2 {
		text-align: center;
		font-size: 2.5rem;
		font-weight: 400;
		margin-bottom: 3.5rem;
		color: $color__purple-brand;
	}
}

.product-type-wrapper {
	display: flex;
	justify-content: space-between;
	text-align: center;
	.product-type {
		border: 1px solid $color__solid-border;
		border-top-width: 5px;
		max-width: 23.5%;
		padding: 0.75rem;
		&:hover {
			border-color: $color__orange-brand;
		}
	}
	img {
		height: 70px;
		width: 70px;
	}
	p {
		margin-bottom: 1.5rem;
	}
	a {
		font-family: 'Novecento';
	}
	.product-button {
		background: $color__green-brand;
		color: #fff;
		cursor: pointer;
		font-size: 0.9rem;
		text-decoration: none;
		text-transform: uppercase;
		padding: .75rem 1.5rem;
		&:hover {
			background: darken($color__green-brand, 10%);
		}
	}
}

.journal-feed ul {
    display: flex;
    justify-content: space-between;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	li {
		width: 32%;
		border: 1px solid $color__solid-border;
		a {
			text-transform: uppercase;
		}
	}
	.thumbnail img{
		width: 100%;
		height: 250px;
	}
	.info-preview {
		padding: 1rem;
		.entry-meta {
			font-size: 0.75rem;
		}
		h3 {
			color: $color__green-brand;
			margin-top: 0.5rem;
			margin-bottom: 1.5rem;
			&:hover {
				color: $color__purple-brand;
			}
		}
		.read-entry {
			color: #000;
			font-size: 0.75rem;
			border: 1px solid #000;
			padding: .75rem 1.5rem;
			text-transform: uppercase;
			&:hover {
				color: #fff;
				background: $color__green-brand;
				border: $color__green-brand;
			}
		}
	}
}
// Front Page non-stretch goal Adventures CSS Grid
.adventure-feed .adventure-list {
	display: grid;
	grid-template-rows: 260px 260px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	.adv-canoe {
		grid-column: 1 / 3;
		grid-row: 1 / 3;
		background-image: $color__background-gradient, url("../../images/adventure-photos/canoe-girl.jpg");
		background-size: cover, cover;
		background-position: center;
	}
	.adv-beach {
		grid-column: 3 / 5;
		grid-row: 1 / 2;
		background-image: $color__background-gradient, url("../../images/adventure-photos/beach-bonfire.jpg");
		background-size: cover, cover;
		background-position: center;
	}
	.adv-mountain {
		grid-column: 3;
		grid-row: 2 / 3;
		background-image: $color__background-gradient, url("../../images/adventure-photos/mountain-hikers.jpg");
		background-size: cover, cover;
		background-position: center;
	}
	.adv-night-sky {
		grid-column: 4;
		grid-row: 2 / 3;
		background-image: $color__background-gradient, url("../../images/adventure-photos/night-sky.jpg");
		background-size: cover, cover;
		background-position: center;
	}
	h2 {
		text-transform: none;
		font-family: 'Merriweather';
		color: #fff;
		line-height: 1.25;
		padding-left: 2rem;
		text-align: left;
	}
	.h2-large {
		font-size: 2rem;
	}
	.h2-small {
		font-size: 1.5rem;
	}
	p {
		padding-left: 2rem;
	}
	a {
		color: #fff;
		font-family: 'Novecento';
		font-size: 1rem;
		border: 1px solid #fff;
		padding: .75rem 1.5rem;
		text-decoration: none;
		text-transform: uppercase;
		&:hover {
			background: $color__green-brand;
			border-color: $color__green-brand;
		}
	}
}  
.more-adventures a {
	background-color: $color__green-brand;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Novecento';
	padding: 0.75rem 1.5rem;
	&:hover {
		background: darken($color__green-brand, 10%);
	}
}

// About *******************************
.page-template-about .entry-header h1 {
	font-size: 3rem;
	text-transform: uppercase;
}

.about-body {
	margin-left: auto;
	margin-right: auto;
	width: 1120px;
}

.page-template-about .entry-content {
	max-width: 800px;
	margin: 3rem auto;
	h2 {
		text-align: center;
		font-size: 2rem;
	}
}

// Journal, Journal Posts, Archive, Find Us, Search
.blog .site-content,
.single-post .site-content,
.archive.date .site-content,
.archive.category .site-content,
.archive.tag .site-content,
.page-id-34 .site-content,
.search .site-content,
.error404 .site-content {
	@include center-block;
	width: 1120px;
	display: flex;
	#primary {
		width: 73%;
		padding-right: 5%;
		border-right: 1px solid $color__solid-border;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	#secondary {
		width: 27%;
		padding-left: 5%;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}
// Journal, Journal Posts
.blog .site-content,
.single-post .site-content,
.single-product .site-content,
.error404 .site-content {
	padding-top: 50px;
}
// Archive, Find Us, Search
.archive .site-content,
.page-id-34 .site-content,
.search .site-content {
	padding-top: 30px;	
}

// Journal posts: Title and entry-meta on image
.blog article .entry-header,
.archive.date .entry-header, 
.archive.category .entry-header,
.archive.tag .entry-header,
.single-post .entry-header
 {
	position: relative;	
	line-height: 0;
	a {
		color: #fff;
		&:hover {
			color: lighten($color__lightgrey-brand, 25%);
		}
	}
	img {
		width: 100%;
		height: auto;
	}
	h1, h2 {
		background-color: $color__green-brand;
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		padding: .75rem 1.5rem;
		margin-top: 3rem;
		max-width: 75%;
		font-size: 2rem;
		line-height: 1.25;
	}
	.entry-meta {
		background-color: $color__green-brand;
		color: #fff;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0.75rem 1.5rem;
		text-transform: uppercase;
		line-height: 1;
	}
}
// Journal posts: Entry meta and Read More
.blog .entry-content,
.archive .entry-content,
.search .entry-summary {
	a.read-entry {
	color: #000;
	font-size: 1rem;
	border: 1px solid #000;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	&:hover {
		color: white;
		background: $color__green-brand;
		border-color: $color__green-brand;
	}
	}
}
// Journal posts: space between articles
.blog article,
.archive.date article,
.archive.category article,
.archive.tag article {
	margin-bottom: 4rem;
}

// Journal Single Page
.single-post article .entry-footer {
	text-transform: uppercase;
	font-family: 'Novecento';
	.cat-links {
		margin-right: 1.5rem;
	}
}

.social-media button {
	background: #fff;
	border: 1px solid #000;
	color: #000;
	text-transform: uppercase;
	border-radius: 0;
	padding: .75rem 1.5rem;
	.svg-inline--fa { // weird, not <i> class
		margin-right: 0.5rem;
	}
	&:hover {
		color: #fff;
		background: $color__green-brand;
		border-color: $color__green-brand;
	}
}

// Shop Archive grid ******************************************
.post-type-archive-product .site-content,
.tax-product-type .site-content,
.single-product .site-content {
	@include center-block;
	width: 1120px;
	// background: skyblue;
}
.post-type-archive-product #primary,
.tax-product-type #primary,
.single-product #primary {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.post-type-archive-product .page-header,
.tax-product-type .page-header {
	text-align: center;
    border-bottom: 1px dashed $color__dashed-border;
    margin-bottom: 3rem;
	ul {
		padding: 0;
		margin: 0;
		margin-bottom: 1rem;
		li {
		  list-style-type: none;
		  display: inline-block;
		  font-size: 1.2rem;
		  text-transform: uppercase;
		  margin: 0 1.5rem;
			a {
			font-family: 'Novecento';
			color: $color__green-brand;
			text-decoration: none;
				&:hover {
				color: #000;
				}
			}
		}
	}
	.tax-description {
		margin: 2rem auto 3rem;
	}
}

.shop-grid-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.shop-grid-items article {
	border: 1px solid $color__solid-border;
	flex: 0 1 23%;
	max-width: 23%;
	margin-bottom: 1.5rem;
	.thumbnail {
		height: 250px;
		overflow: hidden;
		position: relative;
		.wp-post-image {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-52%);
			max-height: 250px;
			max-width: none;
			width: auto;	
		}
	}
	.item-brief {
		text-align: center;
		padding: .75rem 1rem;
		width: 100%;
		display: flex;	/*https://stackoverflow.com/questions/39438026/fiill-the-space-between-two-text-elements-with-dots*/
		align-items: baseline;
		p {
			margin: 0;
			padding: 0;
		}
		span {
			flex: 1;
			margin: 0 0.2rem;
			border-bottom: 1.75px dotted #333;       
		}
	}
}

// Single product page
.single-product article {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5rem;
	.product-image {
		width: 48%;
	}
	.product-content {
		width: 48%;
		p {
			line-height: 1.75;
			// margin: 0;
		}
	}
	.entry-title {
		color: $color__orange-brand;
		margin: 0;
		font-size: 2.5rem;
	}
	.price {
		font-family: Novecento Sans Web,sans-serif;
		font-size: 1.5rem;
		margin: 0;
	}
}

// Find Us, Search
.page-id-34 .entry-header h1,
.search .page-header h1,
.archive .page-header h1 {
	font-size: 2.5rem;
}
.page-id-34 .entry-content h2 {
	font-size: 1.8rem;
}
.search h2 {
	font-size: 2rem;
}

// Search and Archive
.search .page-header,
.archive.date .page-header,
.archive.category .page-header,
.archive.tag .page-header  {
    border-bottom: 1px solid $color__solid-border;
    margin-bottom: 3rem;
}

// Error 404
.error404 .site-content fieldset {
	border: none;
	padding: 0;
	padding-bottom: 0.75rem;
	margin: 0;
	.search-toggle {
		display: none;
	}
	.search-field {
		text-transform: none;
		color: #666;
		background-color: #f4f4f4;
		font-family: 'Merriweather';
		padding: 0.3rem;
	}
}
.error404 {
	h1 {
		font-size: 2.4rem;
	}
	.widget ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	font-family: 'Merriweather';
	}
	.widget p {
		margin-bottom: 0.5rem;
	}
}