/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

// Front page
.home-banner {
	text-align: center;
	background: $color__background-gradient,
				url(../../images/home-hero.jpg);
	background-size: cover, cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.shop-feed,
.journal-feed,
.adventure-feed {
	margin-left: auto;
	margin-right: auto;
	width: 1120px;
	margin-bottom: 3.5rem;
	h2 {
		text-align: center;
		font-size: 2.5rem;
		font-weight: 400;
		margin-bottom: 3.5rem;
		color: $color__purple-brand;
	}
}

// Shop feed
.product-type-wrapper {
	display: flex;
	justify-content: space-between;
	text-align: center;
	.product-type {
		border: 1px solid $color__solid-border;
		border-top-width: 5px;
		max-width: 23.5%;
		padding: 0.75rem;
		&:hover {
			border-color: $color__orange-brand;
		}
	}
	img {
		height: 70px;
		width: 70px;
	}
	p {
		margin-bottom: 1.5rem;
	}
	.product-button {
		background: $color__green-brand;
		color: #fff;
		font-size: 0.9rem;
		text-transform: uppercase;
		padding: .75rem 1.5rem;
		&:hover {
			background: darken($color__green-brand, 10%);
		}
	}
}

// Journal feed
.journal-feed ul {
    display: flex;
    justify-content: space-between;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	li {
		width: 32%;
		border: 1px solid $color__solid-border;
		a {
			text-transform: uppercase;
		}
	}
	.thumbnail img{
		width: 100%;
		height: 250px;
	}
	.info-preview {
		padding: 1rem;
		.entry-meta {
			font-size: 0.75rem;
		}
		h3 {
			color: $color__green-brand;
			margin-top: 0.5rem;
			margin-bottom: 1.5rem;
			&:hover {
				color: $color__purple-brand;
			}
		}
		.read-entry {
			color: #000;
			font-size: 0.75rem;
			border: 1px solid #000;
			padding: .75rem 1.5rem;
			text-transform: uppercase;
			&:hover {
				color: #fff;
				background: $color__green-brand;
				border: $color__green-brand;
			}
		}
	}
}
// Adventures feed CSS Grid
.adventure-feed .adventure-list {
	display: grid;
	grid-template-rows: 260px 260px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	.adventure-grid-item:nth-child(1) {
		grid-column: 1 / 3;
		grid-row: 1 / 3;
		a.post-title {
			font-size: 3rem;
		}
	}
	.adventure-grid-item:nth-child(2) {
		grid-column: 3 / 5;
		grid-row: 1 / 2;
		a.post-title {
			font-size: 2.4rem;
		}
	}
	.adventure-grid-item:nth-child(3) {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
		a.post-title {
			font-size: 1.6rem;
		}
	}
	.adventure-grid-item:nth-child(4) {
		grid-column: 4 / 5;
		grid-row: 2 / 3;
		a.post-title {
			font-size: 1.6rem;
		}
	}
	a.post-title {
		display: block;
		color: #fff;
		font-family: 'Merriweather';
    	font-weight: 400;
		margin: 3rem 1.5rem 1.5rem;
		line-height: 1.25;
	}
	.read-entry {
	}
}  
.more-adventures a {
	background-color: $color__green-brand;
	color: #fff;
	text-transform: uppercase;
	padding: 0.75rem 1.5rem;
	&:hover {
		background: darken($color__green-brand, 10%);
	}
}