/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	// color: $color__link;

	&:visited {
		// color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		// color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

// Header Masthead //
#masthead {
	background-color: hsla(0,0%,100%,.85);
	border-top: 1px solid $color__solid-border;
    border-bottom: 1px solid $color__solid-border;
	position: fixed;
	padding: 0.5rem;
    width: 100%;
	z-index: 999;
	.masthead-flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		width: 1120px;
		.site-branding h1 {
			background: url(../../images/inhabitent-logo-tent.svg) no-repeat;
			background-size: 50px 33px;
			width: 50px;
			height: 33px;
			margin: 0;
			text-indent: 100%;
			overflow: hidden;
		}
		.main-navigation {
			text-transform: uppercase;
			display: flex;
			align-items: center;
			ul {
				list-style: none;
				margin: 0;
				li {
					display: inline;
					padding-left: 1rem;
				}
			}
			fieldset {
				border: none;
				padding: 0 0 0 1rem;
				.search-field {
					text-transform: uppercase;
				}
			}
		}
	}
}